/*****************************************************************************
	Assets to use:
	* Font-family:"Raleway"
	* Headerhöhe:76px
	* Logofarbe: #666
	* Logofarbe in hover: #333
	* Menüfarbe: #333 
	* Menüfarbe in hover: #337ab7
*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/*****************************************************************************
*/
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}

/*****************************************************************************
*/
body {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

/*****************************************************************************
*/
header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: space-between;
}
nav {
    height: 76px;
    padding: 0 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*----------------------------------------------------------------------------
*/
.logo {
    text-decoration: none;
    color: #666;
    font-size: 1.4em;
}
.logo:visited {
    color: #666;
}
.logo:hover {
    color: #333;
}
/*----------------------------------------------------------------------------
*/
nav ul {
    width: 70%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav li a {
    padding: 0%;
    text-decoration: none;
    color: #333;
}
nav li a:visited {
    color: #333;
}
nav li a:hover {
    color: #337ab7;
}

/*****************************************************************************
*/
